@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap'); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}

h2 {
    color: Black;
    font-size: 2rem;
}

body {
    background-color: SeaShell;
}

li {
    margin: 15px 0;
}

input[type=checkbox] {
    margin: 0 15px;
    position: relative;
    vertical-align: middle;
    transform: scale(1.5);
}

input[type=checkbox]:checked + .taskTitle {
    text-decoration: solid line-through Black 3px;
}

hr {
    border: 1px solid LightSteelBlue;
}

label {
    color: Gray;
}

.notebook {
    background-color: LightYellow;
    border-radius: 5px;
    border: 1px solid LightSteelBlue;
    width: 50%;
    padding: 40px 20px;
    margin: 40px auto;
}

.listTitle {
    text-align: center;
    margin-bottom: 10px;
}

.tasksList {
    list-style-type: none;
}

.taskInput {
    background-color: LightYellow;
    border: none;
    color: LightSlateGray;
    width: 100%;
    font-size: 1rem;
}

.taskInput:focus {
    outline: none;
}

.taskTitle {
    background-color: LightYellow;
    border: none;
    color: Gray;
    margin: 0 10px;
}

.taskTitle:focus {
    outline: none;
}

.taskTitle:focus + spam {
    visibility: visible;
}

spam {
    visibility: hidden;
}

.taskInfo {
    font-size: 1rem;
    font-style: normal;
    line-height: 50%;
    margin-left: 15px;
}

.taskEdit {
    color: MediumBlue;
}

.taskDelete {
    color: Crimson;
}

.taskError {
    font-size: 0.7rem;
    font-style: normal;
    line-height: 50%;
    margin: 5px 0;
    color: Black;
}

.taskFail {
    font-size: 1rem;
    font-style: normal;
    line-height: 50%;
    color: Crimson;
}
